# 문자열

In [1]:
s='Python is great!'

In [2]:
print('난 말했다. \"하하\'')

난 말했다. "하하'

In [5]:
print('''asasf
      a
      
      asdasd
      asd
      ''')

asasf
      a

      asdasd
      asd

In [6]:
hello = "hello world!"

In [7]:
hello[1]

'e'

In [8]:
hello[5]

' '

In [9]:
hello[0] = 'a'

TypeError: 'str' object does not support item assignment

In [10]:
lang = 'python programming'

In [11]:
lang[0]

'p'

In [12]:
lang[0:10]

'python pro'

In [13]:
lang[0:6]

'python'

In [14]:
lang[:5]

'pytho'

In [15]:
lang[10:]

'gramming'

In [16]:
lang[10:5]

''

In [17]:
lang[-10:-13]

''

In [18]:
lang[2:10:3]

'tnr'

In [19]:
lang[:10:3]

'ph o'

In [20]:
lang[10::2]

'gamn'

In [21]:
lang[12:3:-2]

'agr o'

In [22]:
lang[::2]

'pto rgamn'

In [23]:
a = 'hello'
b = ' world'

In [24]:
a+b

'hello world'

In [25]:
c = 3

In [26]:
a+c

TypeError: must be str, not int

In [27]:
a *3

'hellohellohello'

### len()함수 : 괄호 안에 있는 문자열 개수 출력

In [28]:
a = 'sadfjaslkfjsdal;kfjdsal;kfjsdakfjslkfjsdal;k'

In [29]:
len(a)

44

### in()함수

In [30]:
subject = 'programming'

In [31]:
 'r' in subject

True

In [32]:
'z' in subject

False

In [33]:
name = 'Kim kUn hEe'

In [34]:
name.upper()

'KIM KUN HEE'

In [35]:
name.lower()

'kim kun hee'

In [36]:
name.isupper()

False

In [37]:
name.islower()

False

In [38]:
name.capitalize()

'Kim kun hee'

In [39]:
name.title()

'Kim Kun Hee'

In [40]:
name.istitle()

False

In [41]:
name.count('k')

1

In [42]:
name.count('K')

1

In [43]:
name.find('K')

0

In [44]:
name.find('k')

4

In [45]:
friends=['alice', 'bob','cindy']

In [46]:
dash='-'

In [47]:
dash.join(friends)

'alice-bob-cindy'

# 입출력문

In [48]:
math_score=77
science_score=88
english_score=99

In [49]:
print(math_score, science_score, english_score)

77 88 99

In [50]:
print("내 수학점수는 : ", math_score)

내 수학점수는 :  77

In [51]:
print("내 과학점수는 : ", science_score)

내 과학점수는 :  88

In [52]:
print("내 영어점수는 : ", english_score)

내 영어점수는 :  99

In [55]:
print("내 수학점수는 : ", math_score, "\n내 과학점수는 : ", science_score, "\n내 영어점수는 : ", english_score)

내 수학점수는 :  77
내 과학점수는 :  88
내 영어점수는 :  99

In [56]:
print("수학점수는 : {2},\n 과학점수는 {2},\n 영어점수는 {3} 이다"
      .format(math_score, science_score, english_score))

IndexError: tuple index out of range

In [57]:
print?

In [58]:
print('a',end='\n\n\n\n\n\n\n\n\ ')
print('n')

a







\ n

# 입력문 input()

In [59]:
input()

5

'5'

In [60]:
name = input()

한인수

In [61]:
print(name)

한인수

In [62]:
input("이름을 입력하세요 : ")

이름을 입력하세요 : 한인수

'한인수'

In [63]:
name=input("이름을 입력하세요: ")

이름을 입력하세요: 한인수

In [65]:
name = input("이름을 입력하세요 : ")
phone = input("전화번호를 입력하세요 : ")
add = input("주소를 입력하세요 : ")

print("이름 : {0}\n전화번호 : {1}\n주소 : {2}"
      .format(name, phone, add))

이름을 입력하세요 : 한인수
전화번호를 입력하세요 : 01054244182
주소를 입력하세요 : 서울
이름 : 한인수
전화번호 : 01054244182
주소 : 서울

# 문제

```세 과목(국어, 수학, 영어) 성적을 input() 함수로 입력받아 
세 과목의 총점과 평균을 구하는 프로그램을 작성하시오. ```

In [66]:
korea_score = int(input("국어 성적을 입력하세요 : "))
        # 국어 성적을 입력하시오
math_score = int(input("수학 성적을 입력하세요 : "))
        # 수학 성적을 입력하시오
Eng_score = int(input("영어 성적을 입력하세요 : "))
        # 영어 성적을 입력하시오
print("\n입력받은 성적\n---------------")
print("국어 성적 : {0}\n수학 성적 : {1}\n영어 성적 : {2}"
     .format(korea_score, math_score, Eng_score))
        # 국어, 수학, 영어 성적을 순서대로 .format에 넣어서
        # {0}, {1}, {2}에 순서대로 출력하시오
print("\n---------------\n")
summ=korea_score+math_score+Eng_score
        # 세 과목의 성적을 summ에 저장
evg=summ/3
        # 저장한 값의 평균을 evg에 저장
print("총점 : ", summ)
        # summ의 값을 출력하시오
print("평균 : ", format(evg, '0.2f'))
        # evg의 값을 소수점 2째 자리까지 출력하시오

국어 성적을 입력하세요 : 55
수학 성적을 입력하세요 : 66
영어 성적을 입력하세요 : 77

입력받은 성적
---------------
국어 성적 : 55
수학 성적 : 66
영어 성적 : 77

---------------

총점 :  198
평균 :  66.00

In [37]:
length = int(input("반지름을 입력하시오 : "))
import math
pi = math.pi
area = pi*length*length
per = 2*pi*length
print("반지름 : {0}\n원의 넓이 : {1}\n원의 둘레 : {2}\n"
     .format(length, format(area, '0.3f'), format(per, '0.3f')))

반지름을 입력하시오 : 5
반지름 : 5
원의 넓이 : 78.540
원의 둘레 : 31.416

세 과목(국어, 수학, 영어) 성적을 input() 함수로 입력받아 세 과
목의 총점과 평균을 구하는 프로그램을 작성하시오

In [5]:
input("국어 성적을 입력하세요 : ")

국어 성적을 입력하세요 : 123

'123'

In [7]:
print('a')
print()
print('b')

a

b

In [10]:
print('a'*10)

aaaaaaaaaa

In [33]:
# 점수 입력 
"""
input으로 입력을 받으면 문자열로 된다.
따라서 int()함수로 데이터 타입을 변형한 뒤 각 변수에 할당한다.
"""
k_score = int(input("국어 성적을 입력하세요 : "))
m_score = int(input("수학 성적을 입력하세요 : "))
e_score = int(input("영어 성적을 입력하세요 : "))

#총점,평균 구하기
total = k_score+m_score+e_score
mean = total/3

print()
print("입력받은 성적")
print('-'*15)

print('국어 성적 : {0}\n수학 성적 : {1}\n영어 성적 : {2}'
     .format(k_score,m_score,e_score))

print()
print('-'*15)
print()

print('총점 : ',total)
print('평균 : {0:10.9f}'.format(mean))

국어 성적을 입력하세요 : 30
수학 성적을 입력하세요 : 30
영어 성적을 입력하세요 : 30

입력받은 성적
---------------
국어 성적 : 30
수학 성적 : 30
영어 성적 : 30

---------------

총점 :  90
평균 : 30.000000000

In [19]:
y = 3.42134234

In [20]:
print("{}".format(y))

3.42134234

In [30]:
print("{:10.2f}".format(y))

      3.42

In [67]:
num = input("다섯 자리 숫자를 입력하시오 : ")
print("\n")
for d in num:
        if(d==num[4]): print(d, end=' ')
        else: print(d, end=', ')
input("\n끝내려면 엔터를 누르세요")

다섯 자리 숫자를 입력하시오 : 54321


5, 4, 3, 2, 1
끝내려면 엔터를 누르세요

''