## 1. 리스트  [ ]
## 2. 튜플      ( )
## 3. 집합      { }
## 4. 사전      { , }

### 리스트

In [1]:
score = [80, 90, 99, 88, 20]
print(score)
print(score[2])
print(score[0:3])
print(score[:-1])

[80, 90, 99, 88, 20]
99
[80, 90, 99]
[80, 90, 99, 88]

In [6]:
score[0]=10
print(score)

[10, 90, 99, 88, 20]

In [10]:
score[0:2]=[]
print(score)

[]

In [12]:
list1=[66, 55]
list2=[77, 66]
list1+list2

[66, 55, 77, 66]

In [13]:
L=[1,3,5,7,9]
M=[2,4,6,8]
L+M

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [14]:
L*3

[1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9]

In [21]:
L=[1,3,5,7,9]
print(7 in L)

True

In [18]:
10 in L

False

In [19]:
10 not in L

True

In [20]:
len(L)

5

In [22]:
L=[1,3,5,7,9]
L.pop()

9

In [23]:
print(L)

[1, 3, 5, 7]

In [25]:
L=[1,3,5,7,9]
L.append(5)
print(L)

[1, 3, 5, 7, 9, 5]

In [26]:
L.insert(2, 10)
print(L)

[1, 3, 10, 5, 7, 9, 5]

In [29]:
L=[3,4,2,6,1,7,8]
L.remove(7)
print(L)
L.remove(8)
print(L)

[3, 4, 2, 6, 1, 8]
[3, 4, 2, 6, 1]

In [31]:
L=['g', 'a', 'g', 'c', 'f']
print(L.index('f'))
print(L.count('g'))

4
2

In [32]:
A=[]
A.append('red')
A.append('blue')
A.append('yellow')
print(A)
A.clear()
print(A)

['red', 'blue', 'yellow']
[]

In [33]:
L=[1,3,5,7,9]
id(L)

2113715752840

In [34]:
M=L

In [35]:
M[2]=100

In [36]:
print(L)

[1, 3, 100, 7, 9]

In [37]:
print(M)

[1, 3, 100, 7, 9]

In [38]:
id(M)

2113715752840

In [40]:
L=[1,3,5,7,9]
N=L.copy()
print(L)
print (N)
id(L)
id(N)
N[2]=100
print(L)
print(N)

[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]
[1, 3, 100, 7, 9]

In [41]:
L.extend(N)
print(L)
print(N)

[1, 3, 5, 7, 9, 1, 3, 100, 7, 9]
[1, 3, 100, 7, 9]

In [42]:
L=[3,5,1,4,2]
L.sort()
print(L)

[1, 2, 3, 4, 5]

In [46]:
L=[3,5,1,4,2]
L.sort(reverse=True)
print(L)

[5, 4, 3, 2, 1]

### 튜플
튜플은 리스트와 모두 같지만 수정이 불가능하다. []대신에 ()를 사용한다.

### 집합
순서가 없는 데이터 구조, 공통된건 하나만 인식한다

In [48]:
s={1,1,1,1,2,2,2,2,3,3,3,3,3}
print(s)

{1, 2, 3}

In [49]:
type(s)

set

In [50]:
s.add(5)

In [51]:
print(s)

{1, 2, 3, 5}

In [53]:
s.discard(3)
print(s)

{1, 2, 5}

In [54]:
s.remove(2)
print(s)

{1, 5}

In [55]:
s={1,2,3,4,5,6,7,8,9}
s.pop()

1

In [56]:
print(s)

{2, 3, 4, 5, 6, 7, 8, 9}

In [57]:
s.clear()

In [58]:
print(s)

set()

### 사전
집합의 일종.

In [63]:
dic1={'철수':10, '영희':20, '동구':27}
type(dic1)

dict

In [64]:
dic1['철수']

10

In [65]:
dic1['영희']

20

In [67]:
colorpen={'red':2, 'blue':3, 'yellow':1}
colorpen['green']=3
print(colorpen)
colorpen['red']=4
print(colorpen)

{'red': 2, 'blue': 3, 'yellow': 1, 'green': 3}
{'red': 4, 'blue': 3, 'yellow': 1, 'green': 3}

In [82]:
score = {'인수': 100, '상훈': 90, '승목':30, '재웅': 20}
score ['시제']=10
print(score)

{'인수': 100, '상훈': 90, '승목': 30, '재웅': 20, '시제': 10}

In [78]:
score2=score.copy()

In [79]:
score2.clear()

In [80]:
print(score2)

{}

In [84]:
score.items()

dict_items([('인수', 100), ('상훈', 90), ('승목', 30), ('재웅', 20), ('시제', 10)])

In [86]:
score3=list(score.items())

In [87]:
score3

[('인수', 100), ('상훈', 90), ('승목', 30), ('재웅', 20), ('시제', 10)]

In [88]:
type(score3)

list

In [90]:
score.values()

dict_values([100, 90, 30, 20, 10])

In [93]:
print(score.keys())
print(score.items())
print(score.values())

dict_keys(['인수', '상훈', '승목', '재웅', '시제'])
dict_items([('인수', 100), ('상훈', 90), ('승목', 30), ('재웅', 20), ('시제', 10)])
dict_values([100, 90, 30, 20, 10])